<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZoNa-P04DBrOo-KGb_6NAXKtCLc0ieJM</string>
	<key>GCM_SENDER_ID</key>
	<string>443665340187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octroid.ivatan</string>
	<key>PROJECT_ID</key>
	<string>ivatan-5279d</string>
	<key>STORAGE_BUCKET</key>
	<string>ivatan-5279d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443665340187:ios:d1c3a89ca1dcd62811a5be</string>
</dict>
</plist>